.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    &--black {
        .header__inner {
            color: $colors-secondary;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;

        color: $colors-primary;
    }
}
