.nav {
    &--header {
        @media (max-width: $md) {
            display: none;
        }
    }

    &--footer {
        .nav__list {
            @media (max-width: $sm) {
                flex-direction: column;
                gap: 20px;
            }
        }
    }
    &__list {
        display: flex;
        gap: 69px;

        @media (max-width: $lg) {
            gap: 40px;
        }

        @media (max-width: $md) {
            flex-direction: column;
            // gap: 40px;
        }
    }

    &__item {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.8px;
    }
    &__link {
        display: block;

        transition: 0.3s linear;

        &:hover {
            color: $colors-blue;
        }
    }

    &.active {
        position: absolute;
        inset: 0;
        z-index: 5;

        display: flex;
        height: 100vh;

        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #6b8a9c;

        .nav__list {
            flex-direction: column;
        }

        .nav__item {
            font-size: 24px;
        }
    }
}
