.nav {
    &--header {
        @media (max-width: $md) {
            display: none;
        }
    }

    &--footer {
        .nav__list {
            @media (max-width: $md) {
                flex-direction: column;
            }
        }

        .nav__item {
            @media (max-width: $lg) {
                padding: 20px 20px;
            }

            @media (max-width: $sm) {
                padding: 20px 20px 20px 0;
            }
        }
    }
    &__list {
        display: flex;
        // gap: 69px;
    }

    &__item {
        padding: 20px 35px;
    }
    &__link {
        display: block;

        transition: 0.3s linear;

        &:hover {
            color: $colors-blue;
        }
    }

    &.active {
        display: none;
    }
}
