.section {
    &--contacts {
        .section__inner {
            padding-top: 125px;

            @media (max-width: $md) {
                padding-top: 50px;
            }
        }

        .section__content {
            width: 100%;
            min-height: 766px;

            padding: 0 50px;

            display: flex;
            justify-content: flex-end;

            background: url('../img/section/contacts/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;

            @media (max-width: $lg) {
                justify-content: center;
            }
            @media (max-width: $sm) {
                padding: 0 15px;
            }
        }
    }

    &--about {
        .section__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            gap: 106px 32px;

            @media (max-width: $sm) {
                grid-template-columns: 1fr;
            }
        }
    }

    &--courses {
        .section__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            gap: 82px 58px;

            @media (max-width: $xl) {
                gap: 50px 30px;
            }

            @media (max-width: $lg) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: $sm) {
                grid-template-columns: 1fr;
            }
        }
    }

    &--news {
        .section__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            gap: 55px 85px;

            @media (max-width: $md) {
                grid-template-columns: 0.5fr;
                place-content: center;
            }

            @media (max-width: $sm) {
                grid-template-columns: 1fr;
            }
        }
    }

    &__inner {
        padding-top: 167px;
        padding-bottom: 112px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        max-width: 611px;
        margin-bottom: 91px;

        font-size: 65px;
        font-weight: 500;
        line-height: 75px;
        letter-spacing: -2px;
        color: $colors-secondary;

        text-align: center;

        @media (max-width: $md) {
            font-size: 40px;

            line-height: 50px;
        }

        @media (max-width: $sm) {
            margin-bottom: 50px;

            font-size: 28px;
            line-height: 35px;
        }
    }

    &__content {
        margin-bottom: 60px;
    }

    &__btn {
        width: 100%;
        max-width: 554px;
    }
}
