.section {
    &--contacts {
        .section__inner {
            padding-top: 125px;
        }

        .section__content {
            width: 100%;
            min-height: 766px;

            padding: 0 50px;

            display: flex;
            justify-content: flex-end;

            background: url('../img/section/contacts/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &--about {
        .section__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            gap: 106px 32px;
        }
    }

    &--courses {
        .section__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            gap: 82px 58px;
        }
    }

    &__inner {
        padding-top: 167px;
        padding-bottom: 112px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        max-width: 611px;
        margin-bottom: 91px;

        font-size: 65px;
        font-weight: 500;
        line-height: 75px;
        letter-spacing: -2px;
        color: $colors-secondary;

        text-align: center;
    }

    &__content {
        margin-bottom: 60px;
    }

    .section__btn {
        width: 100%;
        max-width: 554px;
    }
}
