.showcase {
    &__inner {
        min-height: 100vh;
        padding: 0 77px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        background: url('../img/showcase/bg.jpg') no-repeat center / cover;
    }

    &__title {
        margin-bottom: 47px;

        font-size: 95px;
        font-weight: 500;
        line-height: 1.2;
        color: $colors-primary;
    }

    &__subtitle {
        max-width: 911px;

        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.8px;

        color: rgba($colors-primary, 60%);
    }
}
