.showcase {
    &__inner {
        min-height: 100vh;
        padding: 0 77px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        background: url('../img/showcase/bg.jpg') no-repeat center / cover;

        @media (max-width: $sm) {
            padding: 0 15px;
        }
    }

    &__title {
        margin-bottom: 47px;

        font-size: 95px;
        font-weight: 500;
        line-height: 1.2;
        color: $colors-primary;

        @media (max-width: $lg) {
            font-size: 70px;
        }

        @media (max-width: $md) {
            font-size: 50px;
        }

        @media (max-width: $sm) {
            font-size: 30px;
        }
    }

    &__subtitle {
        max-width: 911px;

        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.8px;

        color: rgba($colors-primary, 60%);
    }
}
