.socials {
    &__list {
        display: flex;
        gap: 67px;

        @media (max-width: $sm) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 24px;

        &:hover {
            text-decoration: underline;
        }
    }
}
