.socials {
    &__list {
        display: flex;
        gap: 67px;

        @media (max-width: $sm) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}
