<div class="container container--lg">
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__top">
                    <a href="index.html" class="logo footer__logo">
                        ArtAli
                    </a>

                    <nav class="nav nav--footer">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="about.html" class="nav__link">О школе</a>
                            </li>
                            <li class="nav__item">
                                <a href="works.html" class="nav__link">Наши работы</a>
                            </li>
                            <li class="nav__item">
                                <a href="news.html" class="nav__link">Новости</a>
                            </li>
                            <li class="nav__item">
                                <a href="courses.html" class="nav__link">Курсы</a>
                            </li>
                            <li class="nav__item">
                                <a href="index.html#form" class="nav__link contacts-link">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__bottom">
                    <a href="#" class="footer__policy">
                        Политика обработки персональных данных
                    </a>

                    <div class="socials">
                        <ul class="socials__list">
                            <li class="socials__item">
                                <a href="#" class="socials__link">
                                    Мы в Telegram

                                    <picture>
                                        <source srcset="img/icons/tg.webp">
                                        <img src="img/icns/tg.png" alt="телеграм">
                                    </picture>
                                </a>
                            </li>
                            <li class="socials__item">
                                <a href="#" class="socials__link">
                                    Мы в ВК

                                    <picture>
                                        <source srcset="img/icons/vk.webp">
                                        <img src="img/icns/vk.png" alt="вконтакте">
                                    </picture>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>