<header class="header header--black">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="logo header__logo">
                ArtAli
            </a>

            <nav class="nav nav--header">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="about.html" class="nav__link">О школе</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Наши работы</a>
                    </li>
                    <li class="nav__item">
                        <a href="news.html" class="nav__link">Новости</a>
                    </li>
                    <li class="nav__item">
                        <a href="courses.html" class="nav__link">Курсы</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>