// colors
$colors-primary: #fff;
$colors-secondary: #000;
$colors-blue: #2d5bff;
$colors-red: #fe6645;

// Typography
$family: 'Inter', sans-serif;

// media
$xl: 1200px;
$lg: 999px;
$md: 768px;
$sm: 576px;
