// colors
$colors-primary: #fff;
$colors-secondary: #000;
$colors-blue: #2d5bff;
$colors-red: #fe6645;

// typography
$family: 'Inter', sans-serif;

// other
$shadow: 0 8px 24px rgba($colors-secondary, 0.5);

// media
$xl: 1200px;
$lg: 999px;
$md: 768px;
$sm: 576px;
